body {
  background-color: lightgreen;
  font-family: arial;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "a b c"
                      "d e f"
                       "g h i";
  grid-auto-rows: minmax(200px, auto);

}

.wrapper >div {
  background:#eee;
      padding:1em;
      border: 3px solid black;

grid-area:e;

}

