{% extends 'base.html' %}

{% block body %}

<div>
<h2>{{ the_title }}</h2>

<form action='/search4' method='POST'>
	<table>
		<p>Use this form to submit a search request:</p>
		<tr><td>Phrase:</td><td><input type="text" name="phrase" width='60'></td></tr>
		<tr><td>Letters:</td><td><input type="text" name="letters" width='60' value='aeiou'></td></tr>
	</table>
	<p>When you're ready click the submit button!</p>
	<p><input type="submit" name="submit" value='Do it!'></p>
</form>
</div>

{% endblock %}